* {
    font-size: 100;
}

body{
    font-family: 'STIX Two Math', serif;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

.contenedor::-webkit-scrollbar{
    color: black;
    overflow-x: none;
    
}

h1{
    color: black;
    align-items: center;
    font-size: 70px;
}

h2,h3,h4,h5,h6{
    color: #fff;
}

.button-back {
   margin-top: 15px;
   margin-left: 20px;

}

.button-back a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 25px;
    cursor: pointer;
}

.button-back a{
    text-decoration: none;
}

.button-back .fas{
    font-size: 30px;
    color: #fff;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    margin-top: 50px;
    background-color: #fff;
    z-index: 1;
    border-radius: 15px;
}

.form_input{
    margin: 10px;
    align-items: center;
}

.form_group{
    margin: 40px;
}

.input_group{
    display: flex;
    justify-content: flex-end;
}

.form_input input{
    display: block;
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid black;
}

.form_input input{
    padding: 7px;
}

.form_input button{
    width: 50%;
    border: none;
    padding: 7px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(58, 56, 56);
}


  @media (max-width: 767px){
    .input_group{
        display: block;
    }

  }

  @media (max-width: 510px){
      h1{
          font-size: 50px;
      }
  }

