* {
    
    font-size: 100;
}

body{
    font-family: 'STIX Two Math', serif;
    background: linear-gradient(to right, #1f4037, #99f2c8);

    overflow-y: hidden;
    overflow-x: hidden;
}

h1{
    color: #fff;
    align-items: center;
    font-size: 70px;
}

h2,h3,h4,h5,h6{
    color: #fff;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    margin-top: 50px;
    background-color: rgba(75, 75, 75, 0.7);
    z-index: 1;
}

.form_input{
    margin: 10px;
    align-items: center;
}

.form_group{
    margin: 40px;
}

.input_group{
    display: flex;
    justify-content: flex-end;
}

.form-control{
    border: none;
}

.form_input input{
    padding: 7px;
}

.form_input button{
    width: 100%;
    border: none;
    padding: 7px;

}

.burbuja{
    border-radius: 50%;
    background: linear-gradient(to right, #000000, #434343);
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: burbujas 3s linear infinite;
  }

  .burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
  }

  .burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
  }

  .burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
  }

  .burbuja:nth-child(4){
    width:50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
  }

  .burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
  }

  .burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
  }

  .burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
  }

  .burbuja:nth-child(8){
    width: 40px;
    height: 40px;
    left: 25%;
    animation-duration: 3s;
    animation-delay: 5s;
  }

  .burbuja:nth-child(9){
    width: 25px;
    height: 25px;
    left: 75%;
    animation-duration: 1.5s;
    animation-delay: 4s;
  }

  .burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
  }

  .btn{
    text-align: center;
    border-radius: 15%;
  }


  @keyframes burbujas {
    0%{
      bottom: 0;
      opacity: 0;
    }
    30%{
      transform: translateX(30px);
    }
    45%{
      transform: translateX(30px);
    }
    50%{
      opacity: .5;
    }
    100%{
      bottom: 100vh;
      opacity: 0;
    }
    
  }

  @keyframes movimiento {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(30px);
    }
    100%{
      transform: translateY(0);
    }
    
  }

  @media (max-width: 767px){
    .input_group{
        display: block;
    }

  }

  @media (max-width: 510px){
      h1{
          font-size: 50px;
      }
  }